.lista-productos {
    position: relative;
    padding: 40px 80px; 
}

.prod-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    transition: opacity 0.3s ease; 
}

.prod-grid.animando {
    opacity: 0;
}

.lista-productos_card {
    display: flex;
    flex-direction: column;
    background: #523325;
    border-radius: 9px 9px 0px 0px;
    overflow: hidden;
    height: 260px; 
}

.card-imagen-contenedor {
    position: relative;
    height: 80%;
    background: #3a2218; 
}

.card-imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-etiqueta {
    position: absolute;
    left: 0;
    top: 0;
    background: #005E55;
    color: white;
    padding: 4px 8px;
    font-size: 11px;
    border-radius: 8px 0 8px 0;
    font-family: 'Molengo', sans-serif;
}


.card-info {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.card-info-texto {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.card-nombre {
    color: #ffffff;
    font-size: 13px;
    font-family: 'Momo Trust Sans', sans-serif;
}

.card-especificacion {
    color: #ffffff;
    font-size: 11px;
    font-family: 'Momo Trust Sans', sans-serif;
}

.card-precio {
    color: #ffffff ;
    font-weight: bold;
    font-size: 13px;
    margin-top: 6px;
    font-family: 'Momo Trust Sans', sans-serif;
}


.card-btn-agregar {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.card-btn-agregar:hover {
    opacity: 0.7;
}


.prod-flechitas {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #FFDCCC;
    z-index: 1;
}

.prod-flechitas.izquierda {
    left: -16px;
}

.prod-flechitas.derecha {
    right: -16px;
}

.filtro-contenedor {
     display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 15px 0px;
}

.filtro-select {
    display: flex;
    align-items: center;
    gap: 5px;
}

.FiltroDeLista option {
    background: #523325;
    color: white;
}

.filtro-select-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.FiltroDeLista {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
}

.filtro-select-icono {
    position: absolute;
    right: 5px;
    pointer-events: none;
}

