#Home {
  background-image: url(../../assets/fondos/fondo2.0.0.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

}

#hero {
  /* background-image: url(../../assets/fondos/fondo3.2.0.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  position: relative;
}

.hero__imagen-izquierda {
  position: absolute;
  height: 100%;
  left: 0;
  z-index: 100;
  top: 10%;
}

.hero__imagen-derecha {
  position: absolute;
  height: 100%;
  right: 0;
  top: 10%;
  z-index: 100;
}

.hero__div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 80px;
  color: #D3D3D3;
  z-index: 1000;
  width: 100%;
  /* max-width: 1400px; */
}

.hero__h4 {
  font-family: "Molengo", sans-serif;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 10px;
  margin: 0 0 20px 0;
}

.hero__h1 {
  font-family: "Merriweather", sans-serif;
  text-align: center;
  font-size: 55px;
}

.hero__underline {
  width: 100px;
  background-color: #D3D3D3;
  height: 2px;
  margin: 25px 0;
  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.hero__p {
  text-align: center;
  margin-bottom: 50px;
  font-size: 20px;
}

.hero__buttons {
  display: flex;
  padding: 10px;
}

.hero__div-button:first-child {
  background: linear-gradient(to right, #005E55, #243836);
  padding: 10px 30px;
  border: 1px solid white;
  margin: 0 15px;
  color: white;
  font-size: 25px;
}

.hero__div-button:last-child {
  background-color: transparent;
  border-image: linear-gradient(to right, #FFFFFF, #706F6F) 1;
  border-width: 2px;
  border-style: solid;
  color: white;
  font-size: 25px;
  padding: 10px;
  margin: 0 15px;
  cursor: pointer;
}

#explora {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 20px 50px;
  max-width: 1400px;
  width: 100%;
}

.explora__h2 {
  font-family: 'Merriweather';
  font-size: 45px;
  color: white;
  align-self: flex-start;
  margin: 10px;
}

.explora__div {
  display: flex;
  width: 100%;
}

.explora__div-div {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: start;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 10px;
  width: 33%;
}

.explora__div-div:first-child {
  background-image: url(../../assets/fondos/fondo-tarjeta1.png);
  margin: 10px 10px 10px 0;
}

.explora__div-div:nth-child(2) {
  background-image: url(../../assets/fondos/fondo-tarjeta2.png);
}

.explora__div-div:last-child {
  margin: 10px 0px 10px 10px;
  background-image: url(../../assets/fondos/fondo-tarjeta3.png);
}

.explora__div-div-h3 {
  font-family: 'Merriweather';
  font-size: 30px;
}

.explora__div-div-button {
  background-color: transparent;
  color: white;
  padding: 10px 30px;
  border: 2px solid white;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  cursor: pointer;
}

.explora__slogan {
  display: flex;
  width: 100%;
  margin: 10px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 2px solid transparent;
  background-image:
    linear-gradient(to right, rgba(89, 58, 43, 0.2), rgba(73, 43, 27, 0.2)),
    url('../../assets/fondos/img-fondo-rect3.png'),
    linear-gradient(to right, #FFECDE, #998E85);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: padding-box, padding-box, border-box;
  background-clip: padding-box, padding-box, border-box;
}

.explora__slogan-img {
  margin: 10px;
  border-radius: 6px;
  border: 1px solid #FFECDE;
  height: 130px;
}

.explora__slogan-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.explora__slogan-div-h2 {
  font-family: 'Merriweather';
  font-size: 40px;
  text-align: center;
  color: #F2D7BF;
}

.underline-slogan {
  height: 2px;
  width: 50%;
  background-color: #F2D7BF;
  margin: 10px 0;
}

.explora__slogan-button {
  align-self: start;
  color: #F2D7BF;
  padding: 8px 10px;
  font-family: 'Merriweather';
  font-size: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 1px solid transparent;
  background-image:
    linear-gradient(to right, #024943, #117068),
    linear-gradient(to right, #FFFDD0, #666552);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  cursor: pointer;
}

#masVendido {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  max-width: 1400px;
}

.masVendido__h2 {
  font-family: 'Merriweather';
  font-size: 45px;
  color: white;
  align-self: flex-start;
  margin: 10px;
}

#masVendido {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  justify-self: center;
  align-self: center;
}

.masVendido__div {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #523325;
  margin: 20px 40px;
  border-radius: 10px 10px 0 10px;
  position: relative;
}

.masVendido__div:first-child {
  margin: 20px 20px 20px 0;
}

.masVendido__div:last-child {
  margin: 20px 0px 20px 20px;
}

.masVendidoP {
  display: flex;
  width: 100%;
}

.masVendido__div-img {
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0px;

}

.masVendido__div-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  color: white;
}

.iconoPlus {
  font-size: 60px;
}

.masVendido__div-div-div-h5 {
  font-family: 'Momo Trust Sans';
  font-size: 27px;
}

.masVendido__div-div-div-h6 {
  font-family: 'Momo Trust Sans';
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 100;
}

.masVendido__div-div-div-span {
  font-family: 'Momo Trust Sans';
  font-weight: bolder;
  font-size: 20px;
}

.masVendido__div-cartel {
  position: absolute;
  padding: 12px 30px;
  border-radius: 8px 0 8px 0;
}

.cartel1 {
  background-color: #289E92;
}


.cartel2 {
  background-color: #005E55;
}

.cartel3 {
  background-color: #C4744F;
}

.masVendido__div-cartel h6 {
  font-family: 'Molengo';
  color: white;
  font-size: 23px;
  font-weight: 200;
}

#maderaEstanteria {
  background-image: url('../../assets/imagen-madera-estanteria.png');
  background-position: center;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 110px;
  justify-content: end;
  align-items: end;
  color: white;
  position: absolute;
  top: 94%;
}

#maderaEstanteria span {
  font-size: 25px;
  margin: 20px 10px;
}

#maderaEstanteria img {
  margin: 0px 30px 20px 20px;
}

/* .sombra__estanteria {
  position: absolute;
  width: 24vw;
}

.sombra1 {
  position: absolute;
  top: -536%;
  left: -2%;
}

.sombra2 {
  position: absolute;
  top: -550%;
  left: 70%;
} */

@media (max-width:1400px) {

  #maderaEstanteria {
    top: 93%;
  }

  .estanteria__hero-div {
    height: 700px;
  }
}

@media (max-width:1380px) {
  .estanteria__hero-img:last-child {
    top: 60%;
  }

  .estanteria__hero-div {
    height: 680px;
  }

  .estanteria__hero-div-div-div-img {
    height: 110px;
  }
}

@media (max-width:1340px) {
  .estanteria__hero-img:last-child {
    top: 64%;
    height: 220px;
  }

  .estanteria__hero-img:first-child {
    top: 17%;
    height: 420px;
  }

  .estanteria__hero-div {
    height: 650px;
  }
}

@media (max-width:1300px) {
  .estanteria__hero-div {
    height: 630px;
  }
}

@media (max-width:1270px) {
  .estanteria__hero-div {
    height: 620px;
  }

  .estanteria__hero-img:last-child {
    top: 62%;
    height: 220px;
  }
}

@media (max-width:1230px) {
  .estanteria__hero-img:last-child {
    top: 65%;
    height: 200px;
  }

  .estanteria__hero-div {
    height: 590px;
  }

  .estanteria__hero-img:first-child {
    top: 14%;
    height: 400px;
  }
}

@media (max-width:1200px) {
  .estanteria__hero-img:last-child {
    top: 62%;
  }

  .estanteria__hero-div {
    height: 570px;
  }

  .estanteria__hero-div-div-div-img {
    height: 100px;
  }
}

@media (max-width:1150px) {


  .estanteria__hero-div {
    height: 550px;
  }

  .estanteria__hero-div-div-div-img {
    height: 95px;
  }
}

@media (max-width:1120px) {

  .estanteria__hero-div {
    height: 520px;
  }

  .estanteria__hero-div-div-div-img {
    height: 90px;
  }

  .estanteria__hero-img:first-child {
    top: 10%;
    height: 380px;
  }
}


@media (max-width:1070px) {

  .estanteria__hero-div {
    height: 500px;
  }

  .estanteria__hero-div-div-div-img {
    height: 90px;
  }
}

@media (max-width:1030px) {

  .estanteria__hero-div {
    height: 480px;
  }

  .estanteria__hero-div-div-div-img {
    height: 90px;
  }
}

@media (max-width:1000px) {

  .estanteria__hero-div {
    height: 460px;
  }

  .estanteria__hero-div-div-div-img {
    height: 80px;
  }
}

@media (max-width:960px) {

  .estanteria__hero-div {
    height: 440px;
  }

  .estanteria__hero-div-div-div-img {
    height: 80px;
  }
}

.hero__imagen-izquierda--mobile { display: none; }
.hero__imagen-derecha--mobile { display: none; }

/*-----------------------------------------------CELUS------------------------------------------*/
@media (max-width: 768px) {
  #Home {
    background-image: url(../../assets/fondos/fondo2.0.0.svg);
    background-position: center;
  }
  /* ---------- principal ---------- */
  #hero {
    padding: 10px 0;
  }
  #hero {
    overflow: hidden;
  }
  .hero__imagen-izquierda,
  .hero__imagen-derecha {
    display: block;
    position: absolute;
    width: 75%;
    height: 90px;
    object-fit: cover;
    z-index: 1;
  }
  /*POR FAVOR: NO MOVER ESTAS CLASES DE ESA LÍNEA (sino no se aplica correctamente el estilo)*/
  .hero__imagen-izquierda--desktop, .hero__imagen-derecha--desktop { 
    display: none; 
  }
  .hero__imagen-izquierda--mobile,  .hero__imagen-derecha--mobile{ 
    display: block; 
  }
  .hero__imagen-izquierda {
    top: -10px;
    left: -10px;
    border-radius: 0 40px 40px 0;
    background-image: none;
  }
  .hero__imagen-derecha {
    top: auto;
    bottom: -10px;
    right: -10px;
    border-radius: 40px 0 0 40px;
  }
  .hero__div {
    margin: 30px 0 40px;
    padding: 0 20px;
  }
  .hero__h4 {
    font-size: 20px;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 30%;
  }
  .hero__h1 {
    font-size: 30px;
    line-height: 1.3;
  }
  .hero__underline {
    margin: 15px 0;
    height: 5px;
    width: 15%;
  }
  .hero__p {
    font-size: 29px;
    margin-bottom: 20px;
  }
  .hero__buttons {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin-bottom: 33%;
  }
  .hero__div-button:first-child,
  .hero__div-button:last-child {
    font-size: 15px;
    padding: 6px 18px;
    margin: 0;
  }
  .hero__div-button:first-child{
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.541);
    border-image: linear-gradient(to right, #FFFDD0, #656451) 1;
  }
  .hero__div-button:last-child{
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.336);
  }

  /* ---------- Componentes ocultos ---------- */
  #estanteria, .estanteria__hero-div, .estanteria__h2, 
  .estanteria__hero-div-div-div-img,
  .estanteria__hero-img, .estanteria__img,
  #maderaEstanteria, 
  .hero__h1 br, .hero__p br,
  .explora__h2, .explora__slogan-img, .explora__div-div-h3 br {
    display: none;
  }

  /* ---------- EXPLORA ---------- */
  #explora {
    padding: 0 20px;
  }
  .explora__div {
    display: flex;
    flex-direction: column;
  }
  .explora__div-div {
    width: 100%;
    margin: 10px 0 !important;
    padding: 10px 15px 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.37);
  }
  .novedades{
    order: 1;
  }
  .cafes-origen{
    order: 2;
  }
  .combos{
    order: 3;
  }
  .explora__div-div-h3 {
    font-size: 22px;
  }
  .explora__div-div-button {
    font-size: 18px;
    padding: 6px 30px;
    box-shadow: 4px 4px 3px rgba(255, 255, 255, 0.25);
  }
  .explora__slogan {
    flex-direction: column;
    padding: 20px;
    text-align: center;
    background-image: url(/src/assets/fondos/fondo-combos-home-responsive.svg);
    border-radius: 10px;
    border: 1px solid white;
  }
  .explora__slogan-div-h2 {
    font-size: 24px;
  }
  .explora__slogan-button {
    align-self: center;
    margin-top: 10px;
  }

  #masVendido {
    padding: 20px;
  }
  .masVendido__h2 {
    font-size: 30px;
    text-align: center;
    align-self: center;
  }
  .masVendidoP {
    flex-direction: column;
  }
  .masVendido__div,
  .masVendido__div:first-child,
  .masVendido__div:last-child {
    width: 100%;
    margin: 10px 0;
  }
  /* .masVendido__div-img img{
    height: 200;
  } */
}

/*--------------------TABLET--------------------------*/
@media (min-width: 550px) and (max-width: 660px){
  .hero__imagen-izquierda,
  .hero__imagen-derecha {
    display: block;
    position: absolute;
    width: 75%;
    height: 130px;
    object-fit: cover;
    z-index: 1;
  }
  .hero__imagen-izquierda--desktop, .hero__imagen-derecha--desktop { 
    display: none; 
  }
  .hero__imagen-izquierda--mobile,  .hero__imagen-derecha--mobile{ 
    display: block; 
  }
}
@media (min-width: 661px) and (max-width: 769px){
  .hero__imagen-izquierda,
  .hero__imagen-derecha {
    display: block;
    position: absolute;
    width: 75%;
    height: 150px;
    object-fit: cover;
    z-index: 1;
  }
  .hero__imagen-izquierda--desktop, .hero__imagen-derecha--desktop { 
    display: none; 
  }
  .hero__imagen-izquierda--mobile,  .hero__imagen-derecha--mobile{ 
    display: block; 
  }
  .hero__div-button:last-child{
    font-size: 20px;
  }
  .hero__div-button:first-child{
    font-size: 20px;
  }
}

@media (min-width: 770px) and (max-width: 1100px) {
  
}