#sobreNosotros {
  background-image: url(../../assets/fondos/fondo3.2.0.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;
}

#nuestraHistoria {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to left, #523325, #713D25);
}

.nuestraHistoria__div {
  padding: 0 clamp(40px, 4vw, 10px) 0 clamp(18px, 4vw, 90px);
}

.nuestraHistoria__div-h2 {
  font-family: 'Playfair Display';
  font-size: clamp(34px, 3vw, 40px);
  color: #FFECDE;
  margin: 5px 0;
}

.nuestraHistoria__div-p {
  font-family: 'Playfair Display';
  color: #FFECDE;
  font-size: clamp(12px, 2vw, 25px);
}

.nuestraHistoria__img {
  height: 200px;
}

.estadisticas__div-img {
  height: 100px;
}

#somosCB {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  width: 100%;
  align-self: center;
  justify-self: center;
  padding: clamp(25px, 4vw, 50px) clamp(30px, 4vw, 60px);
}

.somosCB__h2 {
  font-family: 'Playfair Display';
  font-size: 50px;
  color: #FFFDD0;
  margin: 5px 0;
  font-weight: 400;
}

.somosCB__p {
  font-family: 'Playfair Display';
  font-size: clamp(16.5px, 2vw, 30px);
  color: #FFCFAB;
  margin: 5px 0;
}

#estadisticas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-end;
  justify-self: end;
  background: linear-gradient(to right, #713D25, #5E3719);
  padding: clamp(20px, 4vw, 30px) clamp(10px, 2vw, 20px);
  border-radius: 30px 0 0 30px;
}

.estadisticas__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 clamp(5px, 2vw, 10px);
}

.estadisticas__line {
  display: flex;
  width: 2px;
  height: 90px;
  background-color: #FFECDE;
}

.estadisticas__div-div {
  display: flex;
  align-items: center;
}

.estadisticas__div-img {
  height: 80px;
  box-shadow: clamp(5px, 1.5vw, 10px) clamp(5px, 1.5vw, 10px) clamp(5px, 1.5vw, 10px) rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  margin: 0 10px;
}

.estadisticas__div-div-span {
  font-family: 'Merriweather Sans';
  color: #FFECDE;
  font-size: clamp(15px, 2vw, 35px);
}


.estadisticas__div-span {
  font-family: 'Molengo';
  color: #FFECDE;
  font-size: clamp(12px, 2vw, 20px);
}

/* vista responsive para celulares */
@media (max-width: 480px) {
  #sobreNosotros {
    background: url('../../assets/fondos/fondo2.0.0.svg');
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nuestraHistoria__img {
    width: 200px;
    height: 190px;
    object-fit: cover;
    object-position: center bottom;
    align-self: flex-end;
  }

  .somosCB__h2 {
    font-size: 34px;
    padding: 5px 0;
  }

  .estadisticas__line {
    width: 1px;
    height: 50px;
  }

  .estadisticas__div-img {
    height: 40px;
    margin: 0 5px;
  }

  .estadisticas__div-span {
    MARGIN: 4px;
  }

}