#cafe {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas:
    "imagenes titulos"
    "imagenes informacion";
  gap: 20px;
  width: 90%;
  align-self: center;
  padding: 40px 0;
}

#imagenes {
  grid-area: imagenes;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.imagenes__img {
  width: 100%;
  flex: 10;
  object-fit: cover;
  border-radius: 10px;
  min-height: 0;
}

.imagenes__imgs1,
.imagenes__imgs2 {
  position: absolute;
  height: 50px;
  top: 30%;
}

.imagenes__imgs1 {
  left: 88%;
}

.imagenes__imgs2 {
  left: 2%;
}

.imagenes__div {
  display: flex;
  width: 100%;
  flex: 4;
  gap: 15px;
}

.imagenes__div-img {
  flex: 1;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  min-width: 0;
  border: 2px solid transparent;
}

.imagenes__div-img:hover {
  border: 2px solid #005951;
}

#informacion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: informacion;
  width: 100%;
  padding: 0;
}

#titulos {
  grid-area: titulos;
  background-color: #523325;
  border-radius: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-right: 20px;
}

.titulos__h2 {
  font-family: 'Playfair Display';
  font-weight: 600;
  font-size: 50px;
  color: #FFECDE;
}

.titulos__div {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.titulos__div-h3 {
  font-family: 'Playfair Display';
  font-weight: 100;
  color: #FFECDE;
  font-size: 30px;
}

.titulos__div-h2 {
  font-family: 'inter';
  font-weight: 700;
  color: #FFECDE;
  font-size: 35px;
}

#descripcion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
  color: #FFECDE;
}

.descripcion__h4 {
  font-size: 25px;
}

.descripcion__p {
  margin: 5px 0;
}

#lista {
  margin-left: 20px;
  color: #FFECDE;
}

#lista li {
  margin: 5px 0;
}

#lista li::marker {
  color: #94F7ED;
}

#lista li span {
  font-weight: 600;
}


#detalles {
  color: #FFECDE;
  margin-bottom: 10px;
}

.detalles__div {
  display: flex;
  align-items: center;
}

.detalles__h3 {
  font-family: 'inter';
  font-size: 25px;
}

.detalles__div-img {
  padding: 5px 5px 5px 0;
  height: 25px;
}

.detalles__div span {
  font-weight: 600;
  font-family: 'inter';
  padding-right: 3px;
  font-size: 20px;
}

.detalles__div p {
  font-family: 'inter';
  font-size: 18px;
  font-weight: 300;
}


#botones {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.botones__button {
  display: flex;
  width: max-content;
  background-color: #523325;
  border: none;
  height: 100%;
  padding: 15px;
  align-items: center;
  border-radius: 5px;
  color: #F5EDE4;
  font-family: 'inter';
  font-size: 20px;
  font-weight: 500;
}

.botones__button img {
  height: 30px;
  margin: 0 10px 0 0;
}

.botones__div {
  display: flex;
  background: linear-gradient(to right, #005951, #024842);
  padding: 2px 10px;
  color: white;
  align-items: center;
  width: min-content;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid white;
}

.botones__div-span {
  font-size: 35px;
}

.botones__div-button {
  background-color: transparent;
  border: none;
  align-items: center;
  margin: 10px 25px;
}

.botones__div-button img {
  height: 30px;
  object-fit: contain;
}

#botones div button:first-child img {
  width: 20px;
}

.underline {
  background-color: #FFECDE;
  height: 1px;
  width: 96%;
  margin: 10px 0;
}

/*---------------------RESPONSIVE--------------------------*/
/*------TABLETS-----*/
@media (max-width: 890px) {
  #cafe {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  #imagenes {
    width: 100%;
    height: auto;
  }

  .imagenes__img {
    height: 350px;
  }

  .imagenes__div {
    height: 90px;
    margin-bottom: 10px;
  }

  #informacion {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  #titulos {
    margin-bottom: 10px;
  }

  .titulos__h2 {
    font-size: 32px;
  }

  .titulos__div-h3 {
    font-size: 22px;
  }

  .titulos__div-h2 {
    font-size: 28px;
  }

  .descripcion__h4 {
    font-size: 30px;
    text-align: center;
    order: 1;
    margin-bottom: 15px;
  }

  #lista {
    order: 2;
    font-size: 22px;
    margin-left: 10px;
    list-style: none;
    padding-left: 0%;
  }

  #lista li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
  }

  #lista li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #94F7ED;
  }

  .underline-desc {
    order: 3;
    width: 80%;
    align-self: center;
  }

  .descripcion__p {
    font-size: 25px;
    text-align: center;
    order: 4;
  }

  .detalles__h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
  }

  .detalles__div span,
  .detalles__div p {
    font-size: 26px;
    line-height: 1.5;
  }

  .detalles__div-img {
    padding: 5px 5px 5px 0;
    height: 40px;
  }

  #botones {
    flex-direction: row;
    gap: 15px;
    margin-bottom: 25px;
  }

  .botones__button {
    width: 100%;
    justify-content: center;
    font-size: 15px;
    padding: 8px;
    text-align: left;
  }

  .botones__div {
    width: 100%;
  }

  .botones__div-button {
    margin: 10px;
  }

  /*ORDEN PARA MOSTRARSE EN CELULAR*/
  #botones {
    order: 1;
  }

  #detalles {
    order: 2;
  }

  .underline-det {
    order: 3;
    width: 80%;
    align-self: center;
  }

  #descripcion {
    display: flex;
    flex-direction: column;
    order: 4;
  }
}

@media (max-width: 480px) {
  #cafe {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  #imagenes {
    width: 100%;
    height: auto;
  }

  .imagenes__img {
    height: 350px;
  }

  .imagenes__div {
    height: 90px;
    margin-bottom: 10px;
  }

  #informacion {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  #titulos {
    margin-bottom: 10px;
  }

  .titulos__h2 {
    font-size: 32px;
  }

  .titulos__div-h3 {
    font-size: 22px;
  }

  .titulos__div-h2 {
    font-size: 28px;
  }

  .descripcion__h4 {
    font-size: 30px;
    text-align: center;
    order: 1;
    margin-bottom: 15px;
  }

  #lista {
    order: 2;
    font-size: 22px;
    margin-left: 10px;
    list-style: none;
    padding-left: 0%;
  }

  #lista li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
  }

  #lista li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #94F7ED;
  }

  .underline-desc {
    order: 3;
    width: 80%;
    align-self: center;
  }

  .descripcion__p {
    font-size: 25px;
    text-align: center;
    order: 4;
  }

  .detalles__h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
  }

  .detalles__div span,
  .detalles__div p {
    font-size: 26px;
    line-height: 1.5;
  }

  .detalles__div-img {
    padding: 5px 5px 5px 0;
    height: 40px;
  }

  #botones {
    flex-direction: row;
    gap: 15px;
    margin-bottom: 25px;
  }

  .botones__button {
    width: 100%;
    justify-content: center;
    font-size: 15px;
    padding: 8px;
    text-align: left;
  }

  .botones__div {
    width: 100%;
  }

  .botones__div-button {
    margin: 10px;
  }

  /*ORDEN PARA MOSTRARSE EN CELULAR*/
  #botones {
    order: 1;
  }

  #detalles {
    order: 2;
  }

  .underline-det {
    order: 3;
    width: 80%;
    align-self: center;
  }

  #descripcion {
    display: flex;
    flex-direction: column;
    order: 4;
  }
}