#producto {
  display: flex;
  flex-direction: column;
  flex: 10;
  margin: 0 40px;
  position: relative;
  justify-content: space-between;
  height: 100%;
}

.producto__div:first-child {
  position: relative;
  background-color: #523325;
  border-radius: 20px;
  padding: 15px;
  border: 4px solid #D5713C; 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 0 0 10px 0;
  height: 55%;
}

.producto__div-div-trash {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #D5713C;
  border-radius: 0 10px 0 20px;
  padding: 10px;
}

.producto__div-div-img-trash {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.producto__div-div-titulo {
  display: flex;
  background-color: #713D25;
  color: white;
  width: fit-content;
  border-radius: 10px 0 10px 0;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.producto__div-div-h2-titulo {
  text-decoration: underline;
  font-family: 'Playfair Display';
  font-weight: 100;
  text-decoration-thickness: 0.0001px;
}

.producto__div-div-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  width: 90%;
  height: 55%;
}

.producto__div-div-img-principal {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px 0; 
}

.producto__div-div-botones {
  display: flex;
  background-color: #713D25;
  border-radius: 10px 10px 0 10px;
  padding: 10px 15px;
  align-items: center;
}

.producto__div-div-botones button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.producto__div-div-botones div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  color: white;
  font-size: 30px;
  background-color: #945C42;
  border: solid 2px white;
  border-radius: 40px;
  padding: 0 35px;
}

.producto__div-div-div-h3 {
  font-family: 'inter';
  font-weight: 300;
  font-size: 40px;
}

.producto__div-div-botones button img {
  height: 45px;
  border-top: -20px;
}

.producto__div:last-child {
  background-color: #523325;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  margin: 10px 0 0 0;
}

.producto__div-div {
  display: flex;
  background: linear-gradient(to right, #713D25, rgba(54, 34, 24, 0.2));
  width: 100%;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.producto__div-div-h3 {
  font-family: 'Playfair Display';
  font-weight: 100;
  font-size: 30px;
  color: white;
  padding: 10px 25px;
}

.producto__divp {
  color: #D3D3D3;
  padding: 0px 25px;
  margin: 15px 0;
}

.producto__div-img {
  width: 100%;
  height: 50px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}


/*----------------------RESPONSIVE-----------------------*/
@media (max-width: 900px){
  #producto{
    margin: 5px;
  }

  .producto__div-div-h2-titulo{
    font-size: 18px;
  }

  .producto__div-div-trash img{
    height: 28px;
    width: 28px;
  }

  .producto__div-div-principal{
    width: 100%;
  }

  .producto__div-div-titulo{
    margin-left: -48px;
  }

  .producto__div-botones div{
    width: 100%;
  }

  .producto__div-div-h3{
    font-size: 25px;
  }
}

@media (max-width: 1124px){
  #producto{
    margin: 5px;
  }

  .producto__div-div-principal{
    width: 100%;
  }

  .producto__div-div-trash img{
    height: 28px;
    width: 28px;
  }
  
  .producto__div-div-h2-titulo{
    font-size: 18px;
  }
}

@media (max-width: 795px) {
  #producto {
    flex: auto;
    margin: 0;
    order: 1;
  }
  
  .producto__div:first-child {
    height: auto;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .producto__div:first-child {
    padding: 15px;
    border-width: 2px;
  }

  .producto__div-div-h2-titulo{
    font-size: 20px;
    align-self: flex-start;
    margin-left: 0;
  }
  .producto__div-div-titulo{
    align-self: flex-start;
    padding: 15px;
    border-radius: 20px 0 20px 0;
    margin-left: 5px;
  }

  .producto__div-div-img-principal {
    height: 310px;
    padding: 5px;
    border-radius: 15px;
    margin: 0;
  }

  .producto__div-div-img-trash{
    height: 30px;
    width: 30px;
  }

  .producto__div:first-child {
    border: 5px solid #D5713C; 
  }

  .producto__div-div-principal{
    width:100%;
    margin: 10px 0 20px;
  }

  .producto__div-div-botones{
    width: 100%;
    justify-content: space-around;
    margin-top: -10px;
    border-radius: 20px 20px 0 20px;
  }
  .producto__div-div-botones button img {
    height: 55px;
  }
  .producto__div-div-div-h3{
    font-size: 48px;
  }
  .producto__div-div-botones div{
    height: 72px;
    width: 130px;
    margin: 0;
  }

  .producto__div-div-h3{
    font-size: 38px;
    padding: 20px;
  }
  .producto__divp{
    font-size: 20px;
    margin: 15px 0 30px;
  }
  .producto__div-img{
    height: 80px;
    border-radius: 15px 0 15px 0;
  }
}