.Carrito {
  display: flex;
  background-image: url('../../assets/fondos/fondo3.1.0.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 30px;
}
.img-car {
  height: 100px;
}