#esencia {
  display: flex;
  background: linear-gradient(to bottom, #523325, #6B3821);
  padding: 0 0 0 20px;
  border-radius: 10px;
  width: 90vw;
  justify-content: space-between;
  margin: 10px 40px;
  align-items: center;
  max-width: 1200px;
}

.esencia__div {
  display: flex;
  align-items: center;
}

.esencia__div-img {
  height: 80px;
  border-radius: 1000px;
  box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.25);
  margin: 20px;
}

.esencia__line {
  display: flex;
  width: 2px;
  height: 80px;
  background-color: #FFFFFF;
  margin: 0 10px;
}

.esencia__div-div-h5 {
  font-family: 'Afacad';
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 600;
}

.esencia__div-div-p {
  font-family: 'Molengo';
  color: #FFFFFF;
}

.esencia__img {
  height: 130px;
  border-radius: 0 10px 10px 0;
}

@media (max-width: 768px) {
  #esencia {
    flex-direction: column;
    width: auto;
    max-width: 100%;
    margin: 10px 20px 0;
    padding: 0;
    border-radius: 15px;
    align-items: stretch;
    background: linear-gradient(180deg #523325 100%, #6B3821 5%);
  }

  .esencia__div {
    width: 100%;
    padding: 10px 20px;
  }

  .esencia__div-img {
    height: 50px;
    margin: 10px 15px 10px 0;
  }

  .esencia__line {
    width: 90%;
    height: 2px;
    margin: 0;
    align-self: center;
  }

  .esencia__div-div-h5 {
    font-size: 16px;
  }

  .esencia__div-div-p {
    font-size: 14px;
  }
  .esencia__div-div-p br{
    display: none;
  }

  .esencia__img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 0 0 15px 15px;
    margin: 0;
  }
}